{% load static %}
{% block content %}

{% include 'admin/menu.html' %}

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row purchace-popup">
              <div class="col-12 stretch-card grid-margin">
               
              </div>
            </div>
           <center> <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">ADD BUS</h4>
                    <form class="forms-sample"  method="post" action="addbus" enctype="multipart/form-data">
                        {% csrf_token %}
{{form.as_p}}

                      <div class="form-group row">
                      </div>

                     
                     <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="exampleInputid"  required  name="bustitle" >
                        </div>
                      </div>
                     
					 <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Category</label>
                        <div class="col-sm-9">
                        
						<select name="type_id" class="form-control">
            <option value="">-- Select --</option>
				{% for i in res %}					
				<option value="{{i.name}}">{{i.name}}</option>
						{% endfor %}
						</select></div>
                      </div>
					 
					 
					 <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label"> Year of Manufacture</label>
                        <div class="col-sm-9">
                          <input type="number" class="form-control" id="exampleInputid"  required  name="makeyear" >
                        </div>
                      </div>
					 	 <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Register No</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="exampleInputid"  required  name="registerno" >
                        </div>
                      </div>
					  	 <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Bus Station</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="exampleInputid"  required  name="busstation" >
                        </div>
                      </div>
					 
                  
                    
                      
					  
					  
                      
                        <!---<div class="form-group row">
                        <label for="exampleInputqua" class="col-sm-3 col-form-label">Public key</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" required id="exampleInputid" name="public_key">
                        </div>
                      </div>
                         <div class="form-group row">
                        <label for="exampleInputqua" class="col-sm-3 col-form-label">Private key</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="exampleInputid" required name="private_key">
                        </div>
                      </div>!-->

                      <button type="submit" name="submit" class="btn btn-primary mr-2" >Submit</button>

                    </form>
                  </div>
                </div>
              </div></center>
     
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
 {% include 'admin/footer.html' %}

    {% endblock %}