{% load static %}
{% block content %}


    <script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'admin/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'admin/vendors/moment/moment.min.js' %}"></script>
    <script src="{% static 'admin/vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'admin/vendors/chartist/chartist.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'admin/js/off-canvas.js' %}"></script>
    <script src="{% static 'admin/js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'admin/js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->
    <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
  {% endblock %}
  </body>
</html>