{% load static %}
{% block content %}

{% include 'admin/menu.html' %}

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row purchace-popup">
              <div class="col-12 stretch-card grid-margin">
               
              </div>
            </div>
           <center> <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">UPDATE TYPE</h4>
                    <form class="forms-sample"  method="post" action="edittype/{{result.id}}" enctype="multipart/form-data">
                        {% csrf_token %}
{{form.as_p}}

                      <div class="form-group row">
                      </div>
                      <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="exampleInputid"  value="{{result.name}}" required  name="name">
                        </div>
                      </div>
                     
                     
                     
                    
                      
                       
                      <div class="form-group row">
                        <label for="exampleInputqua" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="exampleInputid" value="{{result.description}}" name="description">
                        </div>
                      </div>
                        <!---<div class="form-group row">
                        <label for="exampleInputqua" class="col-sm-3 col-form-label">Public key</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" required id="exampleInputid" name="public_key">
                        </div>
                      </div>
                         <div class="form-group row">
                        <label for="exampleInputqua" class="col-sm-3 col-form-label">Private key</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="exampleInputid" required name="private_key">
                        </div>
                      </div>!-->

                      <button type="submit" class="btn btn-primary mr-2" >Submit</button>

                    </form>
                  </div>
                </div>
              </div></center>
     
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
 {% include 'admin/footer.html' %}

    {% endblock %}