{% load static %}
{% block content %}
{% include 'header.html' %}
        <!-- Nav Bar End -->
        
        
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2> LOGIN</h2>
                    </div>
                    <div class="col-12">
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        <!-- Contact Start -->
        <div class="contact">
            <div class="container">
               
                <div class="row">
  
                    <div class="col-md-7">
                        <div class="contact-form">
                            <div id="success"></div>
                            <form name="sentMessage" method="POST" action="logint" id="contactForm" >
							{% csrf_token %}

						{{form.as_p}}
                               
								
								 
								
								
								
								
                                <div class="control-group">
                                    <input type="email" class="form-control" id="email"  name="email" placeholder="Your Email" required="required" />
                                    <p class="help-block text-danger"></p>
                                </div>
								
								
								 <div class="control-group">
                                    <input type="password" class="form-control" id="password" placeholder="Password"  name="password" required="required"  />
                                    <p class="help-block text-danger"></p>
                                </div>
								
                                <div>
                                 <center>   <button class="btn btn-custom" name="submit" type="submit" id="sendMessageButton">Login</button></center>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Contact End -->


        <!-- Footer Start -->
{% include 'footer.html' %}
        <!-- Footer End -->
        
        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Pre Loader -->
        

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
        
        <!-- Contact Javascript File -->
 

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
{% endblock %}